<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/images/login.png}">
    <link rel="stylesheet" th:href="@{/css/login_style.css}">
</head>

<body>
<div class="background-img">
    <h1>Sign in</h1>

    <form th:method="GET" th:action="@{/auth/red}" th:object="${login}" class="main">

        <b>Email</b>
        <input type="text"
               th:field="*{email}"
               placeholder="enter your email"
               name="username"
               autocomplete="off"
               required>

        <b>Password</b>
        <input
                th:field="*{password}"
                type="password"
                autocomplete="off"
                placeholder="enter your password"
                name="password"
                required>


        <button type="submit" class="button">Login</button>
    </form>
</div>
</body>


</html>